<!DOCTYPE HTML>
<html lang="en">

<head>
  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-68N2FSL9X6"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
  
    gtag('config', 'G-68N2FSL9X6');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Jae Myung Kim
              </h1>
              <p  style="color:Red Wine;">
                <b>I am currently on the job market looking for research scientist/engineer positions in the industry. Please don't hesitate to reach out to me!</b>
              </p>
              <p>
                I am a PhD student at the <a href="https://www.cmu.edu/">University of Tübingen</a> and a member of <a href="https://ellis.eu/">ELLIS</a> & <a href="https://www.mpg.de/en/imprs">IMPRS-IS</a> programs advised by <a href="https://eml-unitue.de/people/zeynep-akata">Zeynep Akata</a> (TU Munich/Helmholtz Munich), and closely working with <a href="https://cordeliaschmid.github.io/">Cordelia Schmid</a> (Inria/Google). Previously, I completed my B.S. and M.S. degrees at the <a href="https://en.snu.ac.kr/">Seoul National University</a>.
              </p>
              <p>
                I am broadly interested in efficient data-centric approaches. At the moment I'm working on the following questions:
                <ol>
                  <li> <span style="background-color:#ff9aa2">Synthetic data as training data</span>: Exploring how generative models can be leveraged as a robust data source for pertaining or downstream tasks. </li>
                  <li> <span style="background-color:#ffdac1">Weak alignment</span>: Multi-modal data are normally weakly aligned. How can we have better representations with weak data alignment? </li>
                  <li> <span style="background-color:#ffffce">Zero-shot and few-shot learning</span>: How can we better leverage foundation models with access to minimum data? </li>
                </ol>
                In addition to these questions, I have previously worked on building <span style="background-color:#b5ead7">reliable models</span>: topics such as XAI, bias, and uncertainty.
              </p>
              </p>
              <p style="text-align:center">
                <a target="_blank" href="mailto:goldkim92@gmail.com"> Email </a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=eP6FHFAAAAAJ"> Google Scholar </a> &nbsp;/&nbsp;
                <a href="https://www.linkedin.com/in/jae-myung-kim-aaba80146/"> LinkedIn </a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:90%;max-width:90%" alt="profile photo" src="images/jmkim3.jpg">
            </td>
          </tr>
        </table>

        <hr>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Selected papers</h2>
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'paper' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              
              {% for keyword in post.keywords %}
                {% if keyword == 'Synthetic Training Data' %}
                <span style="background-color:#ff9aa2">Synthetic Training Data</span> 
                {% endif %}
                {% if keyword == 'Weak Alignment' %}
                <span style="background-color:#ffdac1">Weak Alignment</span>  
                {% endif %}
                {% if keyword == 'Zero-shot Learning' %}
                <span style="background-color:#ffffce">Zero-shot Learning</span> 
                {% endif %}
                {% if keyword == 'Few-shot Learning' %}
                <span style="background-color:#ffffce">Few-shot Learning</span> 
                {% endif %}
                {% if keyword == 'Explainability' %}
                <span style="background-color:#b5ead7">Explainability</span> 
                {% endif %}
                {% if keyword == 'Bias' %}
                <span style="background-color:#b5ead7">Bias</span> 
                {% endif %}
              {% endfor %}
              <br>
              
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}

              <br>
              <em>{{post.venue}}</em>
              <br>
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.youtube %}
              <a href="{{post.youtube}}">youtube</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
          
        <hr>
        <br>
        <br>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://leonidk.com/">Leonid Keselman's website</a> <br>
                Keywords color-coding inspired from <a style="font-size:small;" href="https://coallaoh.github.io/">Seong Joon Oh's website</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

